  <%= form_with model:book, local: true do |f| %>
  <div class="form-group">
    <%= f.label :title %><br />
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :opinion %><br />
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :category %><br />
    <%= f.text_field :category, class: "form-control" %>
  </div>
  <div class="form-group" id="star">
    <%= f.label :rate, "星評価：" %>
    <%= f.hidden_field :rate, id: :review_star %>
    <script>
      $('#star').raty({
        size     : 36,
        starOff:  '<%= asset_path('star-off.png') %>',
        starOn : '<%= asset_path('star-on.png') %>',
        starHalf: '<%= asset_path('star-half.png') %>',
        scoreName: 'book[rate]',
        half: true,
      });
    </script>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-sm btn-success" %>
  </div>
  <% end %>
