<% if book.favorited_by?(current_user)  %>
<td>
  <%= link_to book_favorites_path(book), method: :delete do %>
  <span class="like-btn">♥<%= book.favorites.count %></span>
  <% end %>
</td>
<td>
  コメント数<%= @book.book_comments.count %>
</td>
<% else %>
<td>
  <%= link_to book_favorites_path(book), method: :post do %>
  <span class="unlike-btn">♥<%= book.favorites.count %></span>
  <% end %>
</td>
<td>
  コメント数<%= @book.book_comments.count %>
</td>
<% end %>