<h1>New book</h1>
<%= form_with model:@book, local: true do |f| %>
  <%= f.label :title %><br />
  <%= f.text_field :title %>
  <%= f.label :opinion %><br />
  <%= f.text_field :body %>
  <%= f.submit 'Create Book', class: "btn btn-sm btn-success" %>
<% end %>